* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  color: blue;
  text-align: right;
}

h3 {
  margin-top: 20px;
  padding-left: 30px;
}
/* 
  2. syntax css adalah sebuah aturan css yang berkaitan dengan mengatur gaya dan penampilan dari website tersusun dari selector(target(id,tag,dll) property(atrribut) property value(attribut value) )
  3. css spesify dari observasi dan pencarian saya secara kasarnya adalah hirarki dari perubahan dari css karena ya pernah saya rasakan dulu code css bisa tumpang tindih membuat optimalisasi menjadi buruk 
  4. respinsive website adalah website yang bisa di buka dengan berbagai device secara optimal dengan mengunakan resource code yang sama tetapi memiliki penampilan berbeda berdasarkan device di pakai yaitu laptop hp maupun table
  5. css query adalah fitur css yang digunakan untuk mengatur tampilan website dengan memeriksa jenis tampilan berdasarkan ukuran layar berdasarkan pixel
  6. perbedaan dari flexbox dan grid adalah dimensi dinamis nya kalau flex box cuma 1 dimensi fixed size(tetap) sedangkan grid 2 dimensi fixed size(tetap)
  7. bosstrap adalah sebuah template(framework website ) yang mempermudah dan mempercepat pembuatan website karena sudah mempersiapkan responsivebilitas website 
*/